extends layout

block content
  h1= title
  p Welcome to #{title}
block more
  h2=title 
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum qui eos sunt assumenda corporis dicta iusto cupiditate ut minima odio ad maiores reiciendis quos sequi, delectus quod? Ratione, delectus minus.
 
