body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  line-height: 1.2;
  color: #1b1b21;
  /* background: #e9ecef url(../img/fondo.jpg); */
  background-size: cover;
  background-position: center center;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgb(234 221 221 / 15%);
  object-fit: contain;
}
main{
  height: 80%;
  margin-top: 2.2em;
  border-top: 2em;
  background-color: #e5f2ff75;
}
.container{
  min-height: 20rem;
};

.fondo{
  background-color: burlywood;
}

.logo {
 
  margin: 0.6em;
  margin-left: 5em;
}
.nav-item :hover{
  color:yellow;
  background-color: #4888c799;
}

img.logo{
  width: 4.5em;
  margin-left: 3em;
  margin-top: .8em;
}

.bg-light1 {
  background-color: #4888c7!important;
  color:whitesmoke;
}

.menu{
  display: flex!important;
  flex-basis: auto;
  flex-wrap: nowrap;
  justify-content: space-around;  
  background-color: #aae918ab;
}
header{
  height: 10rem;
  line-height: 1.8;
  background-color:#0000ff4f;;

}

.menu1{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 4rem !important;
  font-size: 1.8em;

}

@media (min-width: 992px)
.navbar-expand-lg .navbar-nav .nav-link 
{
  padding-right: .9rem;
  padding-left: .9rem;
}


footer{
  
  background-color: rgba(0, 0, 0, 0.39);
  color: blanchedalmond;
  font-size: 0.7em;
  margin-top: 2.2em;
  border-top: solid 2px green;
  line-height: 1.6;
  max-height: 9rem;
}